.hero-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  z-index: 10;
}

.hero-titles {
  padding: 220px 50px;
  background-color: rgba(255, 255, 255, 0.87);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.hero-titles h1 {
  width: 500px;
  font-size: 48px;
}

.hero-titles .color-test {
  color: #0b65a7;
}

.hero-titles p {
  margin: 10px 0;
  width: 500px;
  font-size: 18px;
}

.hero-section img {
  z-index: 1;
}

@media (max-width: 720px) {
  .hero-titles h1 {
    width: 380px;
    font-size: 38px;
  }

  .hero-titles p {
    width: 380px;
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .hero-section {
   margin-bottom: 250px;
  }
  .hero-titles h1 {
    width: 250px;
    font-size: 38px;
  }

  .hero-titles p {
    width: 250px;
    font-size: 14px;
  }
}
