.caracteristic-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.single-caractere {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.caracteristics-items {
  list-style-type: none;
  padding: 0;
}

.caracteristic-description {
  width: 100%;
}

.caracteristic-description p {
  margin: 10px 0;
}

/* Responsiveness */
@media (max-width: 400px) {
  .caracteristic-section {
    padding: 20px;
  }
}
