.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}
.search-rating {
  position: absolute;
  background-color: var(--white-color);
  padding: 5px 10px;
  bottom: 150px;
  left: 400px;
}
.search-rating {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search-rating img {
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 50%;
}

.search-description h2 {
  margin: 20px 0;
  color: var(--primary-color);
}
.search-description p {
  margin: 20px 0;
}

.search-description {
  margin: 50px;
}

/*  Responsivness */

@media (min-width: 10px) and (max-width: 800px) {
  .search-container {
    flex-direction: column;
    padding: 20px;
  }
  .img {
    width: 300px;
  }

  .search-rating {
    position: relative;
    bottom: 0;
    left: 0;
  }
  .search-description h2 {
    margin: 20px 0;
    color: var(--primary-color);
  }
  .search-description p {
    margin: 20px 0;
  }

  .search-description {
    margin: 10px;
  }
}

@media (min-width: 801px) and (max-width: 950px) {
    .img{
        width: 250px;
    }
   
      .search-rating {
       
        left: 10px;
      }
     
}


@media (min-width: 951px) and (max-width: 1100px) {
    .img{
        width: 350px;
    }
   
      .search-rating {
       
        left: 10px;
      }
     
}



