
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #005EA3;
  --secondary-color: #F27219;
  --white-color: #ffffff;
  --black-color: #000000;
}

* {
  margin: 0;
  
}
h2{
  font-size: 25px;
  margin: 5px 0;
}

h4{
  font-size: 15px;
  margin: 5px 0;


}
